.apple {
    background-color: red;
    width: 35px;
    height: 35px;
    
}

.appleContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 40px;
    height: 40px;
  }